html[dir="rtl"] ._3ImDE, ._2hYEZ {
    direction: ltr;
}

html[dir="rtl"] ._2T9b4 ._1mSJd {
    float: right;
}

html[dir="rtl"] ._35SUn {
    float: left;
}

html[dir="rtl"] ._31nDg, ._35nRA {
    text-align: left;
}

html[dir="rtl"] ._2vstG {
  margin-left: -3px;
}
